*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    padding-top: 75px;
}

.gallery {
    padding-bottom: 40px;
}

.txt-1{
    font-size: 94px;
    text-align: center;
    padding-bottom: 40px;
}

.flex-m{
    display: flex;
    flex-direction: column !important;
    padding-top: 60px;
    padding-bottom: 40px;
    flex-direction: row;
    background-color: #f0f0f0;
}

.f-child{
    flex: 1;
    text-align: center;


}

.f-child img{
    width: 440px;
    height: 350px;
}

.f-child img:hover{
    opacity: 0.9;
}